<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Server-Side error</h1>
    <p>Our team fixing it please wait!</p>

<%- include('includes/end.ejs') %>